[data-color-mode*='dark'] .login-page-base, .login-page-base {
  --login-bg: #2c3338;
  --login-color: #fff;
  --login-input: #fff;
  --login-input-bg: #3c4656;
  --login-input-hover: #434a52;
  --login-input-placeholder: #838383;
  --login-btn: var(--login-color);
  --login-btn-bg: #008ef0;
  --login-btn-focus: rgba(0,142,240,.26);
  --login-btn-hover: #0070bd;
  --login-btn-active: #00528a;
}
[data-color-mode*='light'] .login-page-base {
  --login-bg: #edeff3;
  --login-color: #3b4148;
  --login-input: #525D68;
  --login-input-bg: #d7dee5;
  --login-input-hover: #b6c3d1;
  --login-input-placeholder: #8e98a2;
  --login-btn: #fff;
  --login-btn-bg: #008ef0;
  --login-btn-focus: rgba(0,142,240,.26);
  --login-btn-hover: #0070bd;
  --login-btn-active: #00528a;
}

.login-page-base {
  --login-line-height: 1.5;
  line-height: var(--login-line-height);
  background-color: var(--login-bg);
  color: var(--login-color);
  height: auto;
  min-height: 100%;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-page-base-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  width: 90%;
  --gap: 0.87rem;
  gap: var(--gap);
}

.login-page-base header {
  display: flex;
  justify-content: center;
  gap: var(--gap);
  font-weight: 700;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
  align-items: center;
}

.login-page-base header svg {
  display: block;
}

.login-page-base label,
.login-page-base section {
  display: block;
  display: flex;
}

.login-page-base input, .login-page-base button {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 0.8rem;
  width: 100%;
}

.login-page-base-wrapper > label {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.login-page-base input {
  transition: all 0.3s;
  background-color: var(--login-input-bg);
  color: var(--login-input);
}

.login-page-base input:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--login-input-bg) inset;
  color: var(--login-color);
  -webkit-text-fill-color: var(--login-input) !important;
}

.login-page-base input:hover {
  background-color: var(--login-input-hover);
}
.login-page-base input::placeholder {
  color: var(--login-input-placeholder);
}

.login-page-base section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap);
}

.login-page-base section button {
  background-color: var(--login-btn-bg);
  color: var(--login-btn);
  font-weight: 700;
  text-transform: uppercase;
  flex: 1;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  font-size: 0.923rem;
}

.login-page-base section button:disabled {
  cursor: not-allowed;
  opacity: 0.75;
}
.login-page-base section button:focus:not(:disabled) {
  box-shadow: 0 0 0 2px var(--login-btn-focus);
}
.login-page-base section button:hover:not(:disabled) {
  background-color: var(--login-btn-hover);
}
.login-page-base section button:active:not(:disabled) {
  background-color: var(--login-btn-active);
}
.login-page-base footer {
  font-size: 0.85rem;
  text-align: center;
}